@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(./MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].ttf);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

@keyframes material-symbol-spin {
    100% {
        transform:rotate(360deg);
    }
}

.material-symbols-outlined.spinner {
    animation:material-symbol-spin 4s linear infinite;
}