/* Fix Annoying CSS Quirks */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

/* Parent Container */

.cvrx-main {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 60px auto minmax(250px, 20vw);
    grid-template-areas:
        "cvrx-navbar cvrx-display cvrx-friends-bar";
}

/* Navbar */

.cvrx-navbar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    grid-area: cvrx-navbar;
    background: #171010;
    color: white;
    user-select: none;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background: white;
}

.navbar-seg {
    width: 50px;
    margin: 5px;
}

.navbar-button {
    width: 50px;
    height: 50px;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;
}

.navbar-button:hover {
    opacity: 1;
}

.navbar-button :is(.navbar-tooltip) {
    position: relative;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 5px;
    font-size: 35%;
    float: left;
    left: 60px;
    height: auto;
    top: -80%;
    pointer-events: none;
    user-select: none;
    display: none;
    z-index: 100;
}

/* Main Display Area */

.cvrx-display {
    grid-area: cvrx-display;
    background: #2b2929;
}

.display-wrapper {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.display-seg {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px;
}

#display-home {
    display: grid;
    gap: 5px;
    grid-template-rows: 30px 100px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "home-header home-header"
        "home-requests home-requests"
        "home-activity home-showcase";
}

.home-header {
    grid-area: home-header;
    font-size: 20px;
}

.home-requests {
    grid-area: home-requests;
}

.home-activity {
    grid-area: home-activity;
}

.home-showcase {
    grid-area: home-showcase;
}

#display-search {
    display: grid;
    gap: 5px;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "search-bar"
        "search-output";
}

#display-search :is(input) {
    grid-area: search-bar;
    border-radius: 10px;
    padding: 5px;
    font-size: 32px;
    color: black;
}

#display-search :is(input)::placeholder {
    font-style: italic;
}

.search-output {
    grid-area: search-output;
}

.friends-wrapper :is(div) {
    padding: 5px;
    min-height: 60px;
}

.friends-wrapper :is(div):nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
}

.friends-wrapper :is(img) {
    position: relative;
    float: left;
    max-height: 50px;
    max-width: 50px;
    margin-right: 10px;
}

/* Generic Table Styling */

table {
    border: thin solid white;
}

thead {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background: pink;
}

/* Friends Bar Area */

.cvrx-friends-bar {
    grid-area: cvrx-friends-bar;
    background: #171010;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.cvrx-friends-bar :is(h1) {
    font-size: 24px;
    padding: 5px;
}

.cvrx-friends-bar :is(h2) {
    font-size: 16px;
    padding: 5px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    color: rgba(255, 255, 255, 0.1);
}

.friends-bar-container {
    width: calc(100% - 10px);
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.friends-bar-item {
    margin-bottom: 10px;
    min-height: 35px;
    max-height: 35px;
    overflow: hidden;
}

.friends-bar-item :is(img) {
    float: left;
    padding-right: 5px;
}

.friends-bar-item :is(.friend-name) {
    font-size: 14px;
}

.friends-bar-item :is(.friend-world) {
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.friends-bar-item :is(.friend-world-count) {
    all: initial;
    float: right;
}

.friends-bar-item:nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
}