/* Fix Annoying CSS Quirks */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

/* Parent Container */

.cvrx-main {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 60px auto minmax(250px, 20vw);
    grid-template-areas:
        "cvrx-navbar cvrx-display cvrx-friends-bar";
}

/* Navbar */

.cvrx-navbar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    grid-area: cvrx-navbar;
    background: #171010;
    color: white;
    user-select: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 5px;
}

::-webkit-scrollbar-thumb {
    background: white;
}

.navbar-seg {
    width: 50px;
    margin: 5px;
}

.navbar-button {
    width: 50px;
    height: 50px;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;
}

.navbar-button:hover {
    opacity: 1;
}

.navbar-button :is(.navbar-tooltip) {
    position: relative;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 5px;
    font-size: 35%;
    float: left;
    left: 60px;
    height: auto;
    top: -80%;
    pointer-events: none;
    user-select: none;
    display: none;
    z-index: 100;
}

/* Main Display Area */

.cvrx-display {
    grid-area: cvrx-display;
    background: #2b2929;
}

.display-wrapper {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.display-seg {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px;
}

#display-home {
    display: grid;
    gap: 5px;
    grid-template-rows: 30px 100px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "home-header home-header"
        "home-requests home-requests"
        "home-activity home-showcase";
}

.home-header {
    grid-area: home-header;
    font-size: 20px;
}

.home-requests {
    grid-area: home-requests;
}

.home-activity {
    grid-area: home-activity;
}

.home-showcase {
    grid-area: home-showcase;
}

/* - World Activity stuff on Home :) */
.home-activity :is(img) {
    max-width: 50px;
    max-height: 50px;
    float: left;
}

.active-world-node {
    height: 50px;
    margin-bottom: 5px;
}

/* Search Stuff */

#display-search {
    display: grid;
    gap: 5px;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "search-bar"
        "search-output";
}

#display-search :is(input) {
    grid-area: search-bar;
    position: sticky;
    top: 0px;
    border-radius: 10px;
    padding: 5px;
    font-size: 32px;
    color: black;
}

#display-search :is(input)::placeholder {
    font-style: italic;
}

#display-search :is(img) {
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

.search-output {
    grid-area: search-output;
}

.search-result-node {
    min-height: 50px;
    margin-bottom: 5px;
}

/* Friends Page */

#display-friends {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "friends-filter"
        "friends-list";
}

.friends-filter {
    grid-area: friends-filter;
    position: sticky;
    top: 0px;
    border-radius: 10px;
    padding: 5px;
    font-size: 32px;
    color: black;
}

.friends-filter::placeholder {
    font-style: italic;
}

.friends-wrapper {
    grid-area: friends-list;
}

.friends-wrapper .friend-list-node:nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
}

.friend-list-node {
    padding: 5px;
    border-radius: 5px;
    min-height: 60px;
}

.friend-list-node :is(img) {
    float: left;
    max-height: 50px;
    max-width: 50px;
    margin-right: 10px;
    border-radius: 5px;
    /*border: thin solid darkslategrey;*/
}

.icon-is-online {
    border: thin solid lime !important;
    box-shadow: 0 0 5px lime;
}

.friend-name {
    margin-bottom: 5px;
    font-size: 18px;
}

.friend-status {
    font-size: 14px;
}

.friend-is-offline {
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
}

/* Generic Table Styling */

table {
    border: thin solid white;
}

thead {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background: pink;
}

/* Friends Sidebar Area */

.cvrx-friends-bar {
    grid-area: cvrx-friends-bar;
    background: #171010;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.cvrx-friends-bar :is(h1) {
    font-size: 24px;
    padding: 5px;
}

.cvrx-friends-bar :is(h2) {
    font-size: 16px;
    padding: 5px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    color: rgba(255, 255, 255, 0.1);
}

.friends-bar-container {
    width: calc(100% - 10px);
    height: 100%;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.friends-bar-container :is(.online-friend-node):nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
}

.online-friend-node {
    display: grid;
    height: 56px;
    border-radius: 5px;
    grid-template-columns: 50px 1fr 2.5em;
    grid-template-rows: 18px 1fr;
    gap: 5px;
    padding: 2.5px;
    margin-bottom: 5px;
    user-select: none;
    grid-template-areas:
        "online-friend-image online-friend-name online-friend-name"
        "online-friend-image online-friend-world online-friend-world";
}

.online-friend-image {
    grid-area: online-friend-image;
    border-radius: 5px;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.online-friend-name {
    grid-area: online-friend-name;
    font-size: 18px;
    height: auto;
}

.online-friend-world {
    grid-area: online-friend-world;
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-style: italic;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.online-friend-world-count {
    grid-area: online-friend-world-count;
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-style: italic;
    height: auto;
}

/* Overlay Related Stylings */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.toast-notification {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    width: max-content;
    max-width: 80vw;
    background: purple;
    border-radius: 5px;
    padding: 5px;
    font-size: 22px;
    text-align: center;
    margin: auto;
    transition: bottom 0.2s ease;
}

.toast-confirm {
    background: green;
}

.toast-error {
    background: darkred;
}

.toast-info {
    background: rgba(0, 0, 0, 0.25)
}

.toast-up {
    bottom: 10px;
}

/* Testing Stuff - To be removed before final builds! */

#display-debug :is(button) {
    width: max-content;
    height: max-content;
    color: black;
}

#display-debug :is(input) {
    width: 300px;
    height: 20px;
    color: black;
}