/* Fix Annoying CSS Quirks */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--master-font-color);
}

button {
    cursor: pointer;
}

/* CSS Variables for EZ Themes */

:root {
    --master-font-color: white;
    --node-nth-color: rgba(255, 255, 255, 0.1);
    --display-node-bg: rgba(0, 0, 0, 0.75);
    --button-confirm-color: green;
    --button-reject-color: darkred;
    --border-radii: 5px;
    --thumbnail-size-standard: 50px;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radii);
    border-left: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: var(--border-radii);
    border-left: solid 3px transparent;
}

/* Parent Container */

.cvrx-main {
    /* display: grid; */
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 60px auto minmax(250px, 20vw);
    grid-template-areas:
        "cvrx-navbar cvrx-display friends-sidebar";
}

/* Navbar */

.cvrx-navbar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    grid-area: cvrx-navbar;
    background: #171010;
    color: white;
    user-select: none;
}

.navbar-seg {
    width: 50px;
    margin: 5px;
}

.navbar-button {
    width: 50px;
    height: 50px;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.8;
}

.navbar-button:hover {
    opacity: 1;
}

.navbar-button :is(.navbar-tooltip) {
    position: relative;
    background: rgba(0, 0, 0, 0.75);
    border-radius: var(--border-radii);
    padding: 5px;
    font-size: 35%;
    float: left;
    left: 60px;
    height: auto;
    top: -80%;
    pointer-events: none;
    user-select: none;
    display: none;
    z-index: 100;
    filter: drop-shadow(2.5px 2.5px 0px rgba(0, 0, 0, 0.5));
}

/* Main Display Area */

.cvrx-display {
    grid-area: cvrx-display;
    background: #2b2929;
}

.display-wrapper {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.display-seg {
    background: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radii);
}

/* Display Area - HOME */

#display-home {
    display: grid;
    gap: 5px;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
        "home-user home-requests"
        "home-activity home-history";
}

.home-user {
    display: grid;
    gap: 5px;
    grid-area: home-user;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 45px 1fr;
    grid-template-areas:
        "home-user--user-icon home-user--user-name"
        "home-user--user-icon home-user--user-extra";
}

.home-user--user-icon {
    grid-area: home-user--user-icon;
    border-radius: var(--border-radii);
    height: 150px;
    width: 150px;
}

.home-user--user-name {
    display: block;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    grid-area: home-user--user-name;
    font-size: 24px;
    line-height: 36px;
    padding: 5px;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radii);
    font-weight: bold;
}

.home-user--user-extra {
    display: grid;
    grid-area: home-user--user-extra;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.home-user--user-extra img {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    float: left;
    margin-right: 5px;
    border-radius: var(--border-radii);
}

.user-extra--user-avatar,
.user-extra--user-badge,
.user-extra--user-rank {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radii);
    overflow: hidden;
    /* This cringe won't work because this display is flex.  */
    white-space: nowrap;
    /* TODO: change these to grid based nodes like everything else. */
    text-overflow: ellipsis;
    /* It at least stops the cringe badges from being cringer */
}

/* Pending Requests on Home */

.home-requests {
    grid-area: home-requests;
    background: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radii);
    overflow-y: auto;
    overflow-x: hidden;
}

.home-requests:empty {
    display: flex;
    flex-flow: row nowrap;
    color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
    font-size: small;
    font-style: italic;
}

.home-requests:empty:before {
    content: 'No Pending Notifications';
}

.home-requests :where(img) {
    height: var(--thumbnail-size-standard);
    width: var(--thumbnail-size-standard);
    border-radius: var(--border-radii);
}

.home-requests :is(div):not(.request-node--button-wrapper, .requests-placeholder):nth-of-type(odd) {
    background: var(--node-nth-color);
}

/* -- Friend Request */

.home-requests--friend-request-node {
    display: grid;
    min-height: 60px;
    width: 100%;
    gap: 5px;
    padding: 5px;
    grid-template-columns: 50px 1fr 1fr 90px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "friend-request-img friend-request-name friend-request-label friend-request-buttons";
    border-radius: var(--border-radii);
}

.home-requests--friend-request--user-img {
    grid-area: friend-request-img;
}

.home-requests--friend-request--user-name {
    grid-area: friend-request-name;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: large;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}

.home-requests--friend-request--request-type {
    grid-area: friend-request-label;
    font-size: small;
    font-style: italic;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.request-node--button-wrapper {
    grid-area: friend-request-buttons;
    float: right;
    min-width: 90px;
    margin-top: 2.5px;
}

.request-node--button-wrapper button {
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: white;
    border-radius: var(--border-radii);
    margin: 5px;
    cursor: pointer;
    border: none;
    line-height: 20px;
}

.request-node--button-accept {
    background: green;
}

.request-node--button-reject {
    background: darkred;
}

.request-node--button-accept:hover,
.request-node--button-reject:hover {
    filter: brightness(1.5);
}

/* -- Invite (You To Join) */

.home-requests--invite-node {
    display: grid;
    min-height: 60px;
    width: 100%;
    gap: 5px;
    padding: 5px;
    grid-template-columns: 50px 1fr 50px 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "invite-user-img invite-user-name invite-world-img invite-world-name invite-world-notice";
    border-radius: var(--border-radii);
}

.home-requests--invite--user-img {
    grid-area: invite-user-img;
}

.home-requests--invite--user-name {
    grid-area: invite-user-name;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}

.home-requests--invite--world-img {
    grid-area: invite-world-img;
}

.home-requests--invite--instance-name {
    grid-area: invite-world-name;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.home-requests--invite--label {
    grid-area: invite-world-notice;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

/* -- Invite Request (Join To You) */

.home-requests--invite-request-node {
    display: grid;
    min-height: 60px;
    width: 100%;
    gap: 5px;
    padding: 5px;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "invite-request-user-img invite-request-user-name invite-request-notice";
    border-radius: var(--border-radii);
}

.home-requests--invite-request--user-img {
    grid-area: invite-request-user-img;
}

.home-requests--invite-request--user-name {
    grid-area: invite-request-user-name;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}

.home-requests--invite-request--label {
    grid-area: invite-request-notice;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

/* CVR World/Instance Activity on Home */

.home-activity {
    display: grid;
    grid-area: home-activity;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.home-activity h2 {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

.home-activity--refresh {
    margin-right: auto;
    margin-left: 5px;
    background-color: transparent;
    border: none;
}

.home-activity--refresh:hover {
    color: darkgrey;
}

.home-activity--user-count {
    float: right;
    font-size: small;
    cursor: help;
}

.home-activity--activity-wrapper {
    background: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radii);
    overflow-y: auto;
    overflow-x: hidden;
}

.home-activity--activity-node {
    height: 60px;
    padding: 5px;
    border-radius: var(--border-radii);
}

.home-activity--activity-node:nth-of-type(odd) {
    background: var(--node-nth-color);
}

/* Friend History on Home */

.home-history {
    display: grid;
    grid-area: home-history;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.home-history h2 {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.home-history--history-wrapper {
    background: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radii);
    overflow-y: auto;
    overflow-x: hidden;
}

.home-history--history-wrapper:empty {
    display: flex;
    flex-flow: row nowrap;
    color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
    font-size: small;
    font-style: italic;
}

.home-history--history-wrapper:empty:before {
    content: 'No Friend History';
}

/* Search Stuff */

#display-search {
    display: grid;
    gap: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "search-bar"
        "search-output";
}

#display-search :is(input) {
    grid-area: search-bar;
    position: sticky;
    top: 0px;
    border-radius: 5px;
    padding: 5px;
    font-size: 32px;
    color: black;
}

#display-search :is(input)::placeholder {
    font-style: italic;
}

#display-search :is(img) {
    width: var(--thumbnail-size-standard);
    height: var(--thumbnail-size-standard);
    border-radius: var(--border-radii);
    float: left;
    margin-right: 5px;
}

.search-output {
    grid-area: search-output;
    overflow-y: auto;
    border-radius: 5px;
}

.search-output h3 {
    border-bottom: thin solid rgba(255, 255, 255, 0.1);
    margin-bottom: 5px;
}

.search-output--node {
    min-height: 60px;
    border-radius: var(--border-radii);
    padding: 5px;
}

.search-output--node:nth-of-type(odd) {
    background: var(--node-nth-color);
}

/* Friends Page */

#display-friends {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "friends-filter"
        "friends-list";
}

.friends-filter {
    grid-area: friends-filter;
    position: sticky;
    top: 0px;
    border-radius: var(--border-radii);
    padding: 5px;
    font-size: 32px;
    color: black;
}

.friends-filter::placeholder {
    font-style: italic;
}

.friends-wrapper {
    grid-area: friends-list;
    overflow-y: scroll;
}

.friends-wrapper :is(div):not(.filtered-item):nth-of-type(odd) {
    background: var(--node-nth-color);
}

.friend-list-node,
.friend-history-node {
    padding: 5px;
    border-radius: var(--border-radii);
    min-height: 60px;
    cursor: pointer;
}

.friend-history-node:nth-of-type(odd) {
    background: var(--node-nth-color);
}

.friend-history-node {
    cursor: pointer;
}

.old-history {
    font-style: italic;
    filter: brightness(0.5);
}

.filtered-item {
    display: none;
}

.friend-list-node :is(img),
.friend-history-node :is(img) {
    float: left;
    height: var(--thumbnail-size-standard);
    width: var(--thumbnail-size-standard);
    margin-right: 5px;
    border-radius: var(--border-radii);
}

.icon-is-online {
    border: thin solid lime;
    box-shadow: 0 0 5px lime;
}

.friend-name,
.friend-name-history {
    font-size: 18px;
}

.friend-history-node:hover .friend-name-history {
    text-decoration: underline;
}

.friend-name-history small {
    font-size: 10px;
}

.friend-list-node:hover .friend-name {
    text-decoration: underline;
}

.friend-name small {
    font-size: x-small;
}

.friend-status {
    font-size: 12px;
    font-style: italic;
}

.friend-status-history {
    font-size: 12px;
}

.history-type {
    font-weight: bold;
    font-size: x-small !important;
}

.history-type-prev {
    font-size: x-small !important;
}

.friend-status-type {
    font-size: 12px;
    font-weight: bold;
}

.friend-is-offline {
    color: rgba(255, 255, 255, 0.5);
    font-style: italic !important;
    font-weight: initial !important;
}

/* Avatars Display */

#display-avatars {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 5px;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "avatars-filter avatars-refresh"
        "avatars-list avatars-list";
}

#avatars-filter {
    grid-area: avatars-filter;
    position: sticky;
    top: 0px;
    border-radius: var(--border-radii);
    padding: 5px;
    font-size: 32px;
    color: black;
}

#avatars-filter::placeholder {
    font-style: italic;
}

#avatars-refresh {
    grid-area: avatars-refresh;
    width: 50px;
    height: 50px;
    position: sticky;
    top: 0px;
    border-radius: var(--border-radii);
    color: black;
    border: none;
    cursor: pointer;
}

.avatars-wrapper {
    grid-area: avatars-list;
    overflow-y: auto;
    overflow-x: hidden;
}

.avatars-wrapper :where(img) {
    height: 50px;
    width: 50px;
    border-radius: var(--border-radii);
    float: left;
    margin-right: 5px;
}

.avatars-wrapper :where(div):nth-of-type(odd) {
    background: var(--node-nth-color);
}

.avatars-wrapper--avatars-node {
    padding: 5px;
    border-radius: var(--border-radii);
    min-height: 60px;
}

.avatars-node--name {
    font-size: large;
}

.avatars-node--description {
    font-size: small;
}

/* Worlds Display */

#display-worlds {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 5px;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "worlds-filter worlds-refresh"
        "worlds-list worlds-list";
}

#worlds-filter {
    grid-area: worlds-filter;
    position: sticky;
    top: 0px;
    border-radius: var(--border-radii);
    padding: 5px;
    font-size: 32px;
    color: black;
}

#worlds-filter::placeholder {
    font-style: italic;
}

#worlds-refresh {
    grid-area: worlds-refresh;
    width: 50px;
    height: 50px;
    position: sticky;
    top: 0px;
    border-radius: var(--border-radii);
    color: black;
    border: none;
    cursor: pointer;
}

.worlds-wrapper {
    grid-area: worlds-list;
    overflow-y: auto;
    overflow-x: hidden;
}

.worlds-wrapper :where(img) {
    height: 50px;
    width: 50px;
    border-radius: var(--border-radii);
    float: left;
    margin-right: 5px;
}

.worlds-wrapper :where(div):nth-of-type(odd) {
    background: var(--node-nth-color);
}

.worlds-wrapper--worlds-node {
    padding: 5px;
    border-radius: var(--border-radii);
    min-height: 60px;
}

.worlds-node--name {
    font-size: large;
}

.worlds-node--description {
    font-size: small;
}

/* Props Display */

#display-props {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 5px;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "props-filter props-refresh"
        "props-list props-list";
}

#props-filter {
    grid-area: props-filter;
    position: sticky;
    top: 0px;
    border-radius: var(--border-radii);
    padding: 5px;
    font-size: 32px;
    color: black;
}

#props-filter::placeholder {
    font-style: italic;
}

#props-refresh {
    grid-area: props-refresh;
    width: 50px;
    height: 50px;
    position: sticky;
    top: 0px;
    border-radius: var(--border-radii);
    color: black;
    border: none;
    cursor: pointer;
}

.props-wrapper {
    grid-area: props-list;
    overflow-y: auto;
    overflow-x: hidden;
}

.props-wrapper :where(img) {
    height: 50px;
    width: 50px;
    border-radius: var(--border-radii);
    float: left;
    margin-right: 5px;
}

.props-wrapper :where(div):nth-of-type(odd) {
    background: var(--node-nth-color);
}

.props-wrapper--props-node {
    padding: 5px;
    border-radius: var(--border-radii);
    min-height: 60px;
}

.props-node--name {
    font-size: large;
}

.props-node--description {
    font-size: small;
}

/* Friends Sidebar Area */

.friends-sidebar {
    grid-area: friends-sidebar;
    background: #171010;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.friends-sidebar :is(h1) {
    font-size: 24px;
    padding: 5px;
}

.friends-sidebar :is(h2) {
    font-size: 16px;
    padding: 5px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    color: rgba(255, 255, 255, 0.1);
}

.friends-sidebar-container {
    width: calc(100% - 10px);
    height: 100%;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.friends-sidebar-container:empty {
    display: flex;
    flex-flow: row nowrap;
    color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
    font-size: small;
    font-style: italic;
}

.friends-sidebar-container:empty:before {
    content: 'No Friends Online :(';
}

.friends-sidebar-container :is(.friends-sidebar--online-friend-node):nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
}

.friends-sidebar--online-friend-node {
    display: grid;
    height: 56px;
    border-radius: var(--border-radii);
    grid-template-columns: 50px 1fr;
    grid-template-rows: 18px 1fr 1fr;
    gap: 5px;
    padding: 2.5px;
    user-select: none;
    grid-template-areas:
        "online-friend-node--image online-friend-node--name"
        "online-friend-node--image online-friend-node--status"
        "online-friend-node--image online-friend-node--world";
    cursor: pointer;
}

.friends-sidebar--online-friend-node:hover .online-friend-node--name {
    text-decoration: underline;
}

.online-friend-node--image {
    grid-area: online-friend-node--image;
    border-radius: var(--border-radii);
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.online-friend-node--name {
    grid-area: online-friend-node--name;
    font-size: 18px;
    height: auto;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.online-friend-node--world,
.online-friend-node--status {
    font-size: 11px;
    display: block;
    font-style: italic;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.online-friend-node--world {
    grid-area: online-friend-node--world;
}

.online-friend-node--status {
    grid-area: online-friend-node--status;
    font-style: initial;
    font-weight: bold;
}

/* Overlay Related Stylings */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

/* Details Overlay & Styling */

.details-shade {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    pointer-events: initial;
}

.details-window {
    width: 250px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 250px 60px 40px 40px;
    grid-template-areas:
        "details-window--name"
        "details-window--img"
        "details-window--avatar"
        "details-window--badge"
        "details-window--rank";
    gap: 5px;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.5));
}

.details-window :where(img):not(.details-window--img) {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radii);
}

.details-window :where(.details-window--avatar img):not(.details-window--img) {
    width: 60px;
    height: 60px;
    border-radius: var(--border-radii);
}

.details-window--name {
    grid-area: details-window--name;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radii);
    overflow: hidden;
    background: var(--display-node-bg);
    padding: 5px;
    font-weight: bold;
}

.details-window--img {
    grid-area: details-window--img;
    width: 250px;
    height: 250px;
    border-radius: var(--border-radii);
    overflow: hidden;
    background: var(--display-node-bg);
}

.details-window--avatar,
.details-window--badge,
.details-window--rank {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 14px;
    gap: 5px;
    border-radius: var(--border-radii);
    overflow: hidden;
    background: var(--display-node-bg);
}

.details-window--avatar {
    grid-area: details-window--avatar;
}

.details-window--badge {
    grid-area: details-window--badge;
}

.details-window--rank {
    grid-area: details-window--rank;
}

/* Toast Notifications */

.toast-notification {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.toast {
    position: relative;
    padding: 5px;
    background: rgba(128, 128, 128, 0.75);
    color: white;
    width: auto;
    font-size: 20px;
    border-radius: 5px;
    animation: toastPopup 0.25s;
    max-width: 25vw;
}

.toast-confirm {
    background: rgba(0, 128, 0, 0.75);
}

.toast-error {
    background: rgba(139, 0, 0, 0.75);
}

.toast-info {
    background: rgba(0, 0, 255, 0.75);
}

.toast-begone {
    animation: toastSwooce 0.25s;
}

@keyframes toastPopup {
    from {
        bottom: -100%;
    }

    to {
        bottom: 0px;
    }
}

@keyframes toastSwooce {
    from {
        bottom: 0;
    }

    to {
        bottom: -100%;
    }
}

/* Loading shade to hide our shame */

.loading-shade {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    color: white;
    font-weight: bold;
    background: black;
    width: 100%;
    height: 100%;
}

.loading-shade :is(span) {
    animation: loadingSwirly 1s linear infinite;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    box-sizing: initial;
}

@keyframes loadingSwirly {
    0% {
        border-top: 5px solid white;
        border-right: 1px solid white;
        border-bottom: 0px solid white;
        border-left: 1px solid white;
    }

    25% {
        border-top: 1px solid white;
        border-right: 5px solid white;
        border-bottom: 1px solid white;
        border-left: 0px solid white;
    }

    50% {
        border-top: 0px solid white;
        border-right: 1px solid white;
        border-bottom: 5px solid white;
        border-left: 1px solid white;
    }

    75% {
        border-top: 1px solid white;
        border-right: 0px solid white;
        border-bottom: 1px solid white;
        border-left: 5px solid white;
    }

    100% {
        border-top: 5px solid white;
        border-right: 1px solid white;
        border-bottom: 0px solid white;
        border-left: 1px solid white;
    }
}

/* Login Window */

.login-shade {
    position: fixed;
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: black;
    pointer-events: initial;
}

.login-window {
    width: 450px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-template-rows: 25px minmax(10px, 200px) 20px 50px 50px 35px 20px;
    grid-template-areas:
        "login-import-credentials login-import-credentials"
        "login-available-credentials login-available-credentials"
        "login-use-access-key-label login-use-access-key"
        "login-username login-username"
        "login-password login-password"
        "login-authenticate login-authenticate"
        "login-save-credentials-label login-save-credentials";
    gap: 5px;
}

#login-available-credentials-wrapper {
    grid-area: login-available-credentials;
    border: 1px solid grey;
    border-radius: var(--border-radii);
    background: var(--node-nth-color);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.login-credential-node {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

#login-available-credentials-wrapper :is(.login-credential-node):nth-of-type(odd) {
    background: var(--node-nth-color);
}

.login-credential-node :is(img) {
    width: 50px;
    height: 50px;
    border-radius: var(--border-radii);
}

.login-credential-node--name {
    font-size: 24px;
}

.login-credential-node:hover .login-credential-node--name {
    text-decoration: underline;
}

.login-credential-node--delete {
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    margin-right: 5px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 100%;
    border: none;
}

#login-import-game-credentials {
    grid-area: login-import-credentials;
    border-radius: var(--border-radii);
    background: teal;
    cursor: pointer;
}

#login-username {
    grid-area: login-username;
    color: black;
    padding: 5px;
    font-size: 14px;
}

#login-password {
    grid-area: login-password;
    color: black;
    padding: 5px;
    font-size: 14px;
}

.login-window :is(input)::placeholder {
    font-style: italic;
}

#login-save-credentials {
    grid-area: login-save-credentials;
}

#login-save-credentials-label {
    grid-area: login-save-credentials-label;
    text-align: right;
}

#login-use-access-key {
    grid-area: login-use-access-key;
}

#login-use-access-key-label {
    grid-area: login-use-access-key-label;
    text-align: right;
}

#login-access-key-helper {
    cursor: help;
}

#login-authenticate {
    grid-area: login-authenticate;
    background: green;
    border-radius: var(--border-radii);
    cursor: pointer;
}

#display-settings {
    display: flex;
    flex-flow: column nowrap;
}

#logout-button {
    font-size: 22px;
    height: 30px;
    width: 25%;
    color: white;
    background: red;
    cursor: pointer;
    border-radius: var(--border-radii);
}

#check-updates-button {
    font-size: 22px;
    height: 30px;
    width: 25%;
    color: white;
    background: darkcyan;
    cursor: pointer;
    border-radius: var(--border-radii);
}

/* NEW 3DS Instance Nodes Bros. U*/

.active-instance-node {
    display: grid;
    max-width: 100%;
    gap: 5px;
    padding: 5px;
    grid-template-columns: 50px auto 1fr auto auto;
    grid-template-rows: 15px auto;
    grid-template-areas:
        "instance-icon instance-name instance-id instance-friends instance-users"
        "instance-icon instance-user-icons instance-user-icons instance-user-icons instance-user-icons";
    border-radius: var(--border-radii);
}

.active-instance-node:nth-of-type(odd) {
    background: var(--node-nth-color);
}

.active-instance-node--icon {
    grid-area: instance-icon;
    width: 50px;
    height: 50px;
    border-radius: var(--border-radii);
}

.active-instance-node--name {
    grid-area: instance-name;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.active-instance-node--id {
    grid-area: instance-id;
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    gap: 3px;
    justify-content: flex-start;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
}

.active-instance-node--users {
    grid-area: instance-users;
    font-size: 14px !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.active-instance-node--friends {
    grid-area: instance-friends;
    font-size: 14px !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.active-instance-node :where(.material-symbols-outlined) {
    font-size: 18px;
}

.active-instance-node--user-icon-wrapper {
    grid-area: instance-user-icons;
    display: flex;
    flex-flow: row wrap;
    gap: 3px;
}

.active-instance-node--user-icon {
    width: 30px;
    height: 30px;
    border-radius: var(--border-radii);
    cursor: help;
}

.active-instance-node--remainder {
    grid-area: instance-remainder;
    font-size: 16px;
}

.region-eu,
.region-us,
.region-as {
    width: 16px;
    height: 12px;
}

.region-eu {
    background: url(./img/locale/eu.png);
    background-size: cover;
}

.region-us {
    background: url(./img/locale/us.png);
    background-size: cover;
}

.region-as {
    background: url(./img/locale/as.png);
    background-size: cover;
}

/* TOOLTIP STUFF */

#tooltip-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#tooltip {
    position: absolute;
    width: max-content;
    max-width: 15vw;
    background: rgba(0, 0, 0, 0.95);
    color: white;
    filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.5));
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    display: none;
    font-size: 16px;
    z-index: 101;
}